body {
    padding: 15px 0;
}

.chatbox {
    overflow-y: scroll;
    height: 80vh;
    padding: 10px;
}

.center {
    margin: 0 auto;
}

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    padding: 10% 30%;
}